#top{
	width:900px;
	margin-top: 5px;
}
#top_1{width:50px; float:right;}
#top_2{width:110px; float:right;}
#top_3{width:110px; float:right;}


#top01{
	width:760px;
	margin-top: 5px;
}
#top01_1{width:50px; float:right;}
#top01_2{width:110px; float:right;}
#top01_3{width:110px; float:right;}




.con900{
	width: 900px;

}
.con900_1{
	width: 900px;
	text-align: left;
	height: 30px;
	padding-top: 10px;
}
.con900_2{
	width: 900px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.con760{
	width: 760px;
	margin-top: 10px;
	margin-bottom: 10px;
}

#menu{
	width:900px;
	background-image: url(../images/menu/menu003.gif);
}
#menu_l{width:8px; float:left;}
#menu_r{width:8px; float:right;}
#menu_m{
	width:68px;
	float:left;
	background-image: url(../images/menu/menu002.gif);
	height: 26px;
	padding-top: 7px;
}
#menu_1{width:68px; float:left; height: 26px;padding-top: 7px; }
#menu_2{width:68px; float:left; height: 26px;padding-top: 7px;}
#menu_3{width:68px; float:left; height: 26px;padding-top: 7px;}
#menu_4{width:68px; float:left; height: 26px;padding-top: 7px;}
#menu_5{width:68px; float:left; height: 26px;padding-top: 7px;}
#menu_6{width:68px; float:left; height: 26px; padding-top: 7px;}
#menu_7{width:68px; float:left; height: 26px;padding-top: 7px;}
#menu_8{width:68px; float:left; height: 26px;padding-top: 7px;}
#menu_9{width:68px; float:left; height: 26px;padding-top: 7px;}
#menu_10{width:68px; float:left; height: 26px;padding-top: 7px;}
#menu_11{width:68px; float:left; height: 26px;padding-top: 7px;}
#menu_12{width:68px; float:left; height: 26px;padding-top: 5px;}
#menu_13{
	width:68px;
	float:left;
	height: 26px;
	padding-top: 7px;
	background-position: left;
}


#menu01{
	width:760px;
	background-image: url(../images/menu/menu003.gif);
}
#menu01_l{width:8px; float:left;}
#menu01_r{width:8px; float:right;}
#menu01_m{
	width:68px;
	float:left;
	background-image: url(../images/menu/menu002.gif);
	height: 26px;
	padding-top: 7px;
}
#menu01_1{width:68px; float:left; height: 26px;padding-top: 7px; }
#menu01_2{width:68px; float:left; height: 26px;padding-top: 7px;}
#menu01_3{width:68px; float:left; height: 26px;padding-top: 7px;}
#menu01_4{width:68px; float:left; height: 26px;padding-top: 7px;}
#menu01_5{width:68px; float:left; height: 26px;padding-top: 7px;}
#menu01_6{width:68px; float:left; height: 26px; padding-top: 7px;}
#menu01_7{width:68px; float:left; height: 26px;padding-top: 7px;}
#menu01_8{width:68px; float:left; height: 26px;padding-top: 7px;}
#menu01_9{width:68px; float:left; height: 26px;padding-top: 7px;}
#menu01_10{width:68px; float:left; height: 26px;padding-top: 7px;}
#menu01_13{
	width:61px;
	float:left;
	height: 26px;
	padding-top: 7px;
	background-position: left;
}




#c01{WIDTH:900px;PADDING: 0px;}
#c01_l{float:left;width:192px;}
#c01_m1{float:left;width:22px;}
#c01_m2{
	float:left;
	width:626px;
	height:108px;
	background-image: url(../images/top002.gif);
	padding-top: 24px;
}
#c01_r{float:right;width:49px;}



#c0101{WIDTH:760px;PADDING: 0px;}
#c0101_l{float:left;width:192px;}
#c0101_m1{float:left;width:33px;}
#c0101_m2{
	float:left;
	width:486px;
	height:108px;
	background-image: url(../images/top002.gif);
	padding-top: 24px;
}
#c0101_r{float:right;width:49px;}


.sel03{
	cursor: hand;
	color:#666666;
	background-image:url(../images/ts.gif);
	font-size:12px;
	text-decoration:none;
	font-weight:normal;
	float: right;
	height: 21px;
	background-repeat: no-repeat;
	text-align: center;
	background-position: center;
}
.sel04{
	cursor: hand;
	color:#666666;
	font-size:12px;
	text-decoration:none;
	font-weight:normal;
	float: right;
	height: 21px;
	text-align: center;
}








#c02{WIDTH:900px;PADDING: 0px;}
#c02_l{
	float:left;
	width:200px;
	border-width: 1px;
	border-style: solid;
	border-color: #CCCCCC;
	}
	
.fl001{
	width:100%;
	border-bottom-width: 1px;
	border-left-width: 6px;
	border-bottom-style: dashed;
	border-left-style: solid;
	border-bottom-color: #CCCCCC;
	border-left-color: #64A010;
}
.fl002{
	width:100%;
	border-left-width: 6px;
	border-left-style: solid;
	border-left-color: #64B6C2;
	margin-top: 2px;
	text-align: left;
	text-decoration: none;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 10px;
}
.fl002 ul {
	line-height: 17px;
	margin: 0px;
}

.fl003{
	width:100%;
	border-left-width: 6px;
	border-left-style: solid;
	border-left-color: #5586B6;
	margin-top: 2px;
	text-align: left;
	text-decoration: none;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 10px;
}
.fl003 ul {
	line-height: 17px;
	margin: 0px;
}

.fl004{
	width:100%;
	border-left-width: 6px;
	border-left-style: solid;
	border-left-color: #A89C3B;
	margin-top: 2px;
	text-align: left;
	text-decoration: none;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 10px;
}
.fl004 ul {
	line-height: 17px;
	margin: 0px;
}

.fl005{
	width:100%;
	border-left-width: 6px;
	border-left-style: solid;
	border-left-color: #A6A6A6;
	margin-top: 2px;
	text-align: left;
	text-decoration: none;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 10px;
}
.fl005 ul {
	line-height: 17px;
	margin: 0px;
}
.fl006{
	width:100%;
	border-left-width: 6px;
	border-left-style: solid;
	border-left-color: #E469E2;
	margin-top: 2px;
	text-align: left;
	text-decoration: none;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 10px;
}
.fl006 ul {
	line-height: 17px;
	margin: 0px;
}

.fl007{
	width:100%;
	border-left-width: 6px;
	border-left-style: solid;
	border-left-color: #6A7DD5;
	margin-top: 2px;
	text-align: left;
	text-decoration: none;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 10px;
}
.fl007 ul {
	line-height: 17px;
	margin: 0px;
}

.fl008{
	width:100%;
	border-left-width: 6px;
	border-left-style: solid;
	border-left-color: #ED6DA8;
	margin-top: 2px;
	text-align: left;
	text-decoration: none;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 10px;
}
.fl008 ul {
	line-height: 17px;
	margin: 0px;
}
	
#c02_r{float:right;width:694px;}

#c0201{
	WIDTH:100%;
	PADDING: 0px;
	margin-bottom: 8px;
}
#c0201_l{
	float:left;
	width:480px;
	border: 1px solid #CCCCCC;
	}
#c0201_r{
	float:right;
	width:200px;
	border: 1px solid #CCCCCC;
	margin-top: 0px;
}

.menu001{
	width:100%;
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #CCCCCC;
	text-align: left;
}
#c002{WIDTH:100%;PADDING: 0px;}
#c002_l{
	float:left;
	width:20%;
	background-image: url(../images/gb001.gif);
	height: 38px;
	padding-top: 10px;
	}
#c002_r{
	float:right;
	width:80%;
	height: 38px;
	text-align: left;
	padding-left: 4px;
}


.k001{
	width: 100%;
}
.k001 ul {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;


}

.k001 li {
	float: left;
	list-style-type: none;
	width: 48%;
	background-color: F4F8FE;
	border: 1px solid #CCCCCC;
	margin-top: 2px;
	margin-left: 2px;
	padding: 0px;
	text-align: left;

}

.div1{
	width: 96%;
	margin-left: 2px;
	margin-bottom: 4px;
}
.div1 ul{
	padding-bottom: 4px;
	padding-top: 4px;
	margin-top: 0px;
	margin-right: 10px;
	margin-bottom: 0px;
	margin-left: 0px;
}
.div1 li{
	list-style-type: none;
	line-height: 18px;
	background-image: url(../images/d001.gif);
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 12px;
	text-align: left;
}


.sel01{
	cursor: hand;
	color:#F68928;
	background-image:url(../images/bg01.gif);
	font-size:12px;
	text-decoration:none;
	font-weight:bold;
	float: right;
	height: 21px;
	background-repeat: no-repeat;
	text-align: center;
}
.sel02{
	cursor: hand;
	color:#293184;
	background-image:url(../images/bg02.gif);
	font-size:12px;
	text-decoration:none;
	font-weight:bold;
	float: right;
	height: 21px;
	background-repeat: no-repeat;
	text-align: center;
}


.div2 {
	width: 100%;
	margin-top: 4px;
	margin-bottom: 4px;
}
.div2 ul {
	margin-right: 0px;
	margin-left: 0px;


}

.div2 li {
	float: left;
	list-style-type: none;
	width: 49%;
	padding-right: 0px;
	padding-left: 8px;
	background-image: url(../images/d002.gif);
	background-repeat: no-repeat;
	background-position: left center;
	margin-left: 4px;
	line-height: 18px;
	

}

#c0202{
	width:100%;
	margin-top: 6px;
	margin-bottom: 6px;
}
#c0202_l{width:480px;float: left;}
#c0202_r{width:200px;float: right;}


#c03{WIDTH:900px;PADDING: 0px;}
#c03_l{
	float:left;
	width:200px;
}
#c03_r{float:right;width:694px;}



.div3 {
	width: 100%;
	border: 1px solid #CCCCCC;
	margin-bottom: 5px;
}
.div3 ul {
	margin-top: 5px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;

}
 
.div3 li span.tu{
	width: 50px;
	margin-right: 10px;
	border: 1px solid #CCCCCC;
	list-style-type: none;
	vertical-align: top;
}

.div3 li span.text {
	width: 130px;
	line-height: 16px;
	background-repeat: no-repeat;
	background-position: left center;
	list-style-type: none;
	text-align: left;
	height: 70px;

}

.k100{
	width:100%;
	border: 1px solid #CCCCCC;
}



#c0301{
	width:100%;
	height: 210px;
	border: 1px solid #CCCCCC;
	margin-bottom: 5px;
	background-color: #f6f6f6;
}
#c0301_l{
	width:45px;
	float: left;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #CCCCCC;
	margin: 0px;
	background-color: #FFFFFF;
	height: 210px;
}
#c0301_r{
	width:640px;
	float: right;
	background-color: #f6f6f6;
	margin: 0px;
}




#c0302{width:100%;}
#c0302_l{
	width:49%;
	float:left;
	border: 1px solid #CCCCCC;
}
#c0302_r{
	width:49%;
	float:right;
	border: 1px solid #CCCCCC;
}


.div4{
	width: 96%;
	margin-left: 2px;
	margin-bottom: 4px;
}
.div4 ul{
	padding-bottom: 4px;
	padding-top: 4px;
	margin-top: 0px;
	margin-right: 10px;
	margin-bottom: 0px;
	margin-left: 0px;
}
.div4 li{
	list-style-type: none;
	line-height: 18px;
	background-image: url(../images/d002.gif);
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 12px;
	text-align: left;
}


#c0303{
	width:100%;
	margin-top: 5px;
}
#c0303_l{width:19px; float:left;}
#c0303_l1{
	width:70px;
	float:left;
	height: 122px;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #999999;
	border-bottom-color: #999999;
	border-left-color: #999999;
	padding-top: 15px;
}
#c0303_l2{
	width:135px;
	float:left;
	height: 122px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-top-color: #999999;
	border-right-color: #999999;
	border-bottom-color: #999999;
}
#c0303_m{
	width:19px;
	float:left;
	margin-left: 10px;
}
#c0303_m1{
	width:70px;
	float:left;
	height: 122px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #6098CB;
	border-bottom-color: #6098CB;
	border-left-color: #6098CB;
	padding-top: 15px;
}
#c0303_m2{
	width:135px;
	float:left;
	height: 122px;
	margin-right: 9px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-top-color: #6098CB;
	border-right-color: #6098CB;
	border-bottom-color: #6098CB;
}
#c0303_r{width:19px; float:left;}
#c0303_r1{
	width:70px;
	float:left;
	height: 122px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #FC92B8;
	border-bottom-color: #FC92B8;
	border-left-color: #FC92B8;
	padding-top: 15px;
}
#c0303_r2{
	width:135px;
	float:left;
	height: 122px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-top-color: #FC92B8;
	border-right-color: #FC92B8;
	border-bottom-color: #FC92B8;
}


#c0304{
	width:100%;
	margin-top: 5px;
}
#c0304_l{width:19px; float:left;}
#c0304_l1{
	width:70px;
	float:left;
	height: 122px;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #76BFCD;
	border-bottom-color: #76BFCD;
	border-left-color: #76BFCD;
	padding-top: 15px;
}
#c0304_l2{
	width:135px;
	float:left;
	height: 122px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-top-color: #76BFCD;
	border-right-color: #76BFCD;
	border-bottom-color: #76BFCD;
}
#c0304_m{
	width:19px;
	float:left;
	margin-left: 10px;
}
#c0304_m1{
	width:70px;
	float:left;
	height: 122px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #D1BB7E;
	border-bottom-color: #D1BB7E;
	border-left-color: #D1BB7E;
	padding-top: 15px;
}
#c0304_m2{
	width:135px;
	float:left;
	height: 122px;
	margin-right: 9px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-top-color: #D1BB7E;
	border-right-color: #D1BB7E;
	border-bottom-color: #D1BB7E;
}
#c0304_r{width:19px; float:left;}
#c0304_r1{
	width:70px;
	float:left;
	height: 122px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #6D80D5;
	border-bottom-color: #6D80D5;
	border-left-color: #6D80D5;
	padding-top: 15px;
}
#c0304_r2{
	width:135px;
	float:left;
	height: 122px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-top-color: #6D80D5;
	border-right-color: #6D80D5;
	border-bottom-color: #6D80D5;
}




#c0305{
	width:100%;
	margin-top: 5px;
}
#c0305_l{width:19px; float:left;}
#c0305_l1{
	width:70px;
	float:left;
	height: 122px;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #E469E2;
	border-bottom-color: #E469E2;
	border-left-color: #E469E2;
	padding-top: 15px;
}
#c0305_l2{
	width:135px;
	float:left;
	height: 122px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-top-color: #E469E2;
	border-right-color: #E469E2;
	border-bottom-color: #E469E2;
}
#c0305_m{
	width:19px;
	float:left;
	margin-left: 10px;
}
#c0305_m1{
	width:70px;
	float:left;
	height: 122px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #3D964A;
	border-bottom-color: #3D964A;
	border-left-color: #3D964A;
	padding-top: 15px;
}
#c0305_m2{
	width:135px;
	float:left;
	height: 122px;
	margin-right: 9px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-top-color: #3D964A;
	border-right-color: #3D964A;
	border-bottom-color: #3D964A;
}
#c0305_r{width:19px; float:left;}
#c0305_r1{
	width:70px;
	float:left;
	height: 122px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #3A958A;
	border-bottom-color: #3A958A;
	border-left-color: #3A958A;
	padding-top: 15px;
}
#c0305_r2{
	width:135px;
	float:left;
	height: 122px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-top-color: #3A958A;
	border-right-color: #3A958A;
	border-bottom-color: #3A958A;
}


.div5{
	width: 100%;
}
.div5 ul{
	margin-top: 5px;
	margin-left: 0px;
	margin-bottom: 0px;
	text-align: left;
}
.div5 li{
	background-image: url(../images/d003.gif);
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 12px;
	list-style-type: none;
	left: 15px;
	line-height: 18px;
	OVERFLOW: hidden; 
	WIDTH: 120px;  
	WHITE-SPACE: nowrap; 
}

#c04{
	width:900px;
	border: 1px solid #B0BEC7;
	background-image: url(../images/sbg.gif);
	height: 29px;
	margin-top: 5px;
	vertical-align: super;
	padding-top: 4px;
	margin-bottom: 5px;
}


#c0401{
	width:760px;
	border: 1px solid #B0BEC7;
	background-image: url(../images/sbg.gif);
	height: 29px;
	margin-top: 5px;
	vertical-align: super;
	padding-top: 4px;
	margin-bottom: 5px;
}

#c05{width:900px;}
#c05_l{
	width:23%;
	float: left;
}
#c05_m{
	width:50%;
	float: left;
}
#c05_r{
	width:27%;
	float: right;
	text-align: left;
}

#c0501{width:760px;}
#c0501_l{
	width:23%;
	float: left;
}
#c0501_m{
	width:50%;
	float: left;
}
#c0501_r{
	width:27%;
	float: right;
	text-align: left;
}




#m01{
	width:900px;
	margin-top: 4px;
}
#m01_l{width:670px;float:left;}
#m0101{
	width:100%;
	border: 1px solid #CCCCCC;
	margin-top: 8px;
}
#m0101_l{
	width:49%;
	float:left;
	text-align: left;
	padding-left: 6px;
}
#m0101_r{
	width:49%;
	float:right;
	text-align: left;
	padding-left: 6px;
}

#m01_r{width:220px; float:right;}

.m100{
	width:100%;
}

#m101{
	width:100%;
	background-image: url(../images/m/m1.gif);
	height: 40px;
	text-align: left;
	padding-top: 12px;
	padding-left: 10px;
}
#m102{
	width:100%;
	background-image: url(../images/m/m2.gif);
	height: 40px;
	text-align: left;
	padding-top: 12px;
	padding-left: 10px;
}
#m103{
	width:100%;
	background-image: url(../images/m/m3.gif);
	height: 40px;
	text-align: left;
	padding-top: 12px;
	padding-left: 10px;
}

.m104{
	width:96%;
	background-image: url(../images/dot008.gif);
	background-repeat: no-repeat;
	background-position: left top;
	text-align: left;
	padding-left: 20px;
	margin-top: 20px;
}
.m105{
	width:96%;
	background-image: url(../images/dot009.gif);
	background-repeat: no-repeat;
	background-position: left top;
	padding-left: 15px;
	margin-top: 15px;
}




#m0102{width:100%;}
#m0102_l{width:130px; float:left;}

#m0102_r{
	width:80px;
	float:right;
	padding-top: 10px;
}

.m80{
	width:80px;
	height: 80px;
	border: 1px solid #CCCCCC;
}


.div6{
	width: 100%;
}
.div6 ul{
	margin-top: 5px;
	margin-left: 0px;
	margin-bottom: 0px;
	text-align: left;
}
.div6 li{
	background-image: url(../images/arrow_023.gif);
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 12px;
	list-style-type: none;
	left: 15px;
	line-height: 18px;
	OVERFLOW: hidden; 
	WIDTH: 130px;  
	WHITE-SPACE: nowrap; 
}

#m0103{
	width:100%;
	border: 1px solid #B0BEC7;
	background-image: url(../images/sbg.gif);
	height: 29px;
	vertical-align: super;
	padding-top: 4px;
	margin-bottom: 5px;
}

#m0104{
	width:100%;
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #CCCCCC;
	padding-bottom: 8px;
	margin-bottom: 6px;
}
#m0104_l{width: 100px; float:left;}
#m0104_r{
	width: 560px;
	float:right;
	text-align: left;
}


.m100_1{
	width:100px;
	height: 100px;
	border: 1px solid #CCCCCC;
	padding-top: 10px;
}


#m0105{
	width:100%;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: #CCCCCC;
	height: 25px;
	padding-top: 6px;
	margin-bottom: 10px;
}
#m0105_l{
	width: 60%;
	float:left;
	text-align: left;
	padding-left: 10px;
}
#m0105_r{width: 35%; float:right;}


#m100_h{
	width:100%;
	border: 1px solid #999999;
	padding-top: 4px;
	text-align: left;
	background-color: #F0F0F0;
	padding-bottom: 4px;
}

.div7{
	width:100%;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #999999;
	border-right-color: #999999;
	border-bottom-color: #999999;
	border-left-color: #999999;
	margin-bottom: 10px;
}
.div7 ul{
	margin-top: 0px;
	margin-right: 4px;
	margin-bottom: 8px;
	margin-left: 4px;
}
.div7 li {
	background-image: url(../images/dot005.gif);
	background-repeat: no-repeat;
	background-position: left center;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #CCCCCC;
	list-style-type: none;
	text-align: left;
	padding-left: 18px;
	height: 26px;
	padding-top: 4px;
}


#m100l{
	width:100%;
	text-align: right;
}


.fl100{
	width:100%;
	padding-left: 18px;
}


#f01{width:900px;}
#f01_l{width:200px; float:left;}
#f01_r{
	width:690px;
	float:right;
	border: 1px solid #D9E3E9;
	height: 450px;
	text-align: left;
}

.f100{
	width:100%;
	border: 5px solid #D9E3E9;
	padding-top: 1px;
	padding-bottom: 10px;
}

.f101{
	width:100%;
	background-image: url(../images/m/lm.gif);
	height: 30px;
	padding-left: 20px;
	text-align: left;
	padding-top: 10px;
	padding-bottom: 5px;
}


.f102{
	width:100%;
	height: 25px;
	text-align: center;
	margin: 2px;
	background-image: url(../images/m/bg.gif);
	padding: 10px;
	font-size: 14px;
	font-weight: bold;
	color: #666666;
}

.f103{
	width:100%;
	text-align: left;
	margin: 10px;
}

.div8{width:98%;}
.div8 ul{
	margin-top: 0px;
	margin-right: 10px;
	margin-bottom: 20px;
	margin-left: 10px;
}
.div8 li{
	padding-left: 50px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #EBEBEB;
	list-style-type: none;
	text-align: left;
	height: 18px;
	padding-top: 5px;
}



.div9{
	width:96%;
	margin-bottom: 20px;
	margin-left: 20px;
}
.div9 ul{
	list-style-type: none;
	margin-top: 20px;
	margin-right: 0px;
	margin-bottom: 20px;
	margin-left: 0px;
}
.div9 li span.text{
	width:70%;
	background-image: url(../images/m/hh1_29.gif);
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 20px;
	list-style-type: none;
	text-align: left;
}

.div10{width:96%;}
.div10 ul{
	list-style-type: none;
}
.div10 li span.time{
	width:12%;
	text-align: left;
	font-size: 12px;
	font-weight: bold;
	color: #666666;
	list-style-type: none;
	vertical-align: top;
	margin-top: 10px;
}
.div10 li span.text{
	width:85%;
	text-align: left;
	font-size: 12px;
	font-weight: normal;
	color: #666666;
	margin-top: 10px;
	margin-bottom: 10px;
}



.div11 {
	width: 100%;
	float: left;
	margin-top: 10px;
}
.div11 ul {
	margin: 0px;
}

.div11 li {
	float: left;
	list-style-type: none;
	width: 33%;
	margin-bottom: 4px;
	padding-right: 0px;
	padding-left: 4px;
	text-align: center;
	height: 200px;
	
}

.div12{
	width:900px;
	margin-top: 10px;
	background-color: #DCE7EC;
}
.div12 ul {margin: 0px;}
.div12 li{
	float: left;
	list-style-type: none;
	width: 80px;
	text-align: center;
	height: 25px;
}


#s01{
	width:900px;
	margin-top: 10px;
}
#s01_l{
	width:600px;
	float:left;
}
#s01_r{
	width:290px;
	float:right;
}

.s001{
	width:100%;
	border: 1px solid #D9E3E9;
	padding-top: 2px;
	padding-right: 2px;
	padding-left: 2px;
	margin-bottom: 10px;
}

.s002{
	width:100%;
	background-color: #FAFAFA;
	padding-left: 20px;
	text-align: left;
	padding-top: 5px;
	padding-bottom: 5px;
}


.s003{
	width:100%;
	background-color: #EAF0F7;
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
}
.s004{
	width:100%;
	text-align: left;
	padding: 5px;
}
.s005{
	width:100%;
	text-align: left;
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 20px;
}


.div13{width:100%;}
.div13 ul{
	list-style-type: none;
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-left: 20px;
}
.div13 li span.left{
	width:25%;
	text-align: left;
	font-size: 12px;
	font-weight: bold;
	color: #5586B6;
	list-style-type: none;
	vertical-align: top;
	margin-top: 10px;
	background-image: url(../images/dot007.gif);
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 28px;
}
.div13 li span.text{
	width:72%;
	text-align: left;
	font-size: 12px;
	font-weight: normal;
	color: #666666;
	margin-top: 10px;
	margin-bottom: 10px;
}


#f02{
	width:95%;
	margin-top: 20px;
}
#f02_l{width:15%; float:left;}
#f02_r{
	width:85%;
	float:right;
	text-align: left;
}



.div14 {
	width: 100%;
	float: left;
	margin-top: 10px;
}
.div14 ul {
	margin: 0px;
}

.div14 li {
	float: left;
	list-style-type: none;
	width: 19%;
	margin-bottom: 4px;
	padding-right: 0px;
	padding-left: 4px;
	text-align: center;
	height: 40px;
	
}
